@import url(footer.css);
@import url(header.css);

html,
body {
  height: 100%;
  background-color: #f0f0f0;
}


.instructions {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  min-width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-signin p {
  line-height: 2;
  margin-bottom: 20px;
  font-size: 15px;
}

input[type="text"] {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  color: rgb(33, 33, 33) ;
  border-radius: 0px;
  text-align: center;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(114, 114, 114);
  outline: none;
  margin-right: 5px;
  padding: 5px;
}



input[type="text"] {

}

.form-signin button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
}


.PopUp-sobreposicao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 0.5s forwards;
}

.PopUp-sobreposicao2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.PopUp-sobreposicao2.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.PopUp-sobreposicao .fechar {
  opacity: 0;
}

.conteudo-popup {
  position: relative; 
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transform: scale(0.5);
  transition:  opacity 0.7s ease-in-out;
  animation: scaleUp 0.3s forwards;
}

.conteudo-popup .fechar {
  transform: scale(0.5);
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}

.Fechar-Popup {
  background-color: rgb(17, 162, 170);
  color: white;
  width: 70%;
  height: 45px;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.6s, transform 0.6s;
}

.Fechar-Popup:hover {
  background-color: rgb(19, 140, 147);
  cursor: pointer;
  transform: scale(1.05);
}

.uncheck, .check {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.uncheck {
  background-color: rgb(224, 37, 37);
}

.uncheck:hover {
  transform: rotate(360deg);
}

.linha-unchecked-1, .linha-unchecked-2, .linha-checked-1, .linha-checked-2 {
  position: absolute;
  width: 8px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
}

.linha-unchecked-1 {
  left: 45px;
  top: 20px;
  transform: rotate(-40deg);
}

.linha-unchecked-2 {
  right: 45px;
  top: 20px;
  transform: rotate(40deg);
}

.check {
  background-color: rgb(61, 178, 51);
}

.check:hover {
  transform: scale(1.1);
}

.linha-checked-1 {
  left: 35.9px;
  top: 50px;
  height: 30px;
  transform: rotate(-49deg);
}

.linha-checked-2 {
  left: 60px;
  top: 20px;
  transform: rotate(35deg);
}

.Fechar-Popup-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  background-color: rgb(137, 20, 20);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px rgba(160, 160, 160, 0.3);
}

.Fechar-Popup-icon:hover {
  cursor: pointer;
  background-color: rgb(104, 16, 16);
  transform: scale(1.1);
}

.conteudo-popup h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.conteudo-popup p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.conteudo-popup::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
}
